<div class="row">
  <div class="offset-2 col-8">
    <h2 class="mt-2">Crear Producto</h2>
    <form [formGroup]="dataForm" (ngSubmit)="guardarProducto()">
      <div class="form-group">
        <label for="txtNombre">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" id="txtNombre"
          placeholder="Digite el nombre" />
        <div *ngIf="
        dataForm.controls['nombre'].invalid &&
            (dataForm.controls['nombre'].dirty ||
            dataForm.controls['nombre'].touched)
          " class="alert alert-danger mt-1" role="alert">
          <div *ngIf="dataForm.controls['nombre'].errors!.required">
            Este campo es requerido
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="txtPrecio">Precio</label>
        <input type="text" formControlName="precio" class="form-control" id="txtPrecio"
          placeholder="Digite el precio" />
      </div>
      <div class="form-group">
        <label for="txtDescripcion">Descripción</label>
        <textarea formControlName="descripcion" id="txtDescripcion" class="form-control" rows="4"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="dataForm.invalid">Guardar</button>
    </form>
  </div>
</div>
