<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let header of data.headers">{{ header.name }}</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data.data; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td *ngFor="let h of data.headers">
        <span *ngIf="h.currency"> {{ processField(h.field,d) | currency}} </span>
        <span *ngIf="!h.currency"> {{ processField(h.field,d)}} </span>
      </td>
      <td style="width: 10%;">
        <div class="btn-group" role="group">
          <button type="button" (click)="onDetalle(d.id)" class="btn btn-info">
            Detalle
          </button>
          <button *ngIf="data.edit" (click)="onEditar(d.id)" class="btn btn-secundary">
            Editar
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
